.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;
  height: 100vh;
}

.contact-img img {
  width: 100%;
  height: 100vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.contact-form h2 {
  font-size: 40px;
}

.form-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
}

.form-section input {
  width: 80%;
  padding: 10px;
  font-size: 25px;
}

.contact-btn button {
  width: 100px;
  height: auto;
  padding: 5px;
  margin-left: 10px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

.contact-btn button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

@media (min-width: 375px) {
  .contact-section {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .contact-img img {
    height: 300px;
  }

  .contact-form {
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .contact-section {
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  .contact-img img {
    height: 100%;
  }
  .contact-form {
    margin-top: 70px;
  }
}

@media (min-width: 1024px) {
  .contact-form {
    margin-top: 200px;
  }
}

@media (min-width: 1600px) {
  .contact-section {
    grid-template-columns: 1fr 1fr;
    height: 90vh;
  }
  .contact-img img {
    height: 90vh;
  }
  .contact-form {
    margin-top: 150px;
  }
}
