.footer-container {
  background-color: #000;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.footer-contact button {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  width: 180px;
  height: auto;
  padding: 5px;
  transition: 0.5s;
}

.footer-contact button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.icon {
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.copyrights p {
  font-size: 16px;
}

@media (min-width: 375px) {
  .footer-container {
    flex-direction: column;
    height: 150px;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    height: 150px;
    padding: 20px;
  }
}
